* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background: #cccccc;
    width: 550px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.time {
    font-size: 80px;
    position: relative;
    text-align: center;
    
}

.btn{
   text-align: center;
 }

 #start {
    font-size: 25px;
    font-family: sans-serif;
    width: 10px auto;
    padding: 10px;
 
}

 
#stop {
    font-size: 25px;
    font-family: sans-serif;
    width: 10px auto;
    padding: 10px;
   
} 

#clear {
    font-size: 25px;
    font-family: sans-serif;
    width: 10px auto;
    padding: 10px;
   

}